*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    height: 10%;
    padding: 5px;
}
li{
    float: left;
    list-style: none;
    margin-right: 10px;
    margin-left: 10px;
}
.ayar1{
    display: flex;
    justify-content: left;
    margin-top: 25px;
    
}
.ayar2{
    display: flex;
    justify-content: right;
    margin-top: -18px;
    
}
.signin{
    padding: 10px;
    background-color: rgb(96, 118, 218);
    color: aliceblue;
    font-size: 0.7rem;
    border: none;
    border-radius: 2px;
    margin-top: -10px;
}
.kare{
    margin-top: -5px;
}
.kare:hover{
    background-color: rgb(199, 195, 195);
    border-radius: 15px;
}
a{
    text-decoration: none;
    color: rgb(199, 195, 195);
}
a:hover{
    text-decoration: underline;
    color: rgb(199, 195, 195);
}
.logo{
    width: 100%;
}
#logo{
    margin: 20px auto;
    display: block;
    height: 30%;
}
#search{
    display: block;
    margin: 0px auto;
    width: 600px;
    height: 44px;
    border-radius: 23px;
    padding-left: 50px;
    border: 1px solid rgb(190, 187, 187);
    background-image: url("./images/magnifying_glass.jpg"), url("./images/mikrofon.png");
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    background-position-y: 1px;
    background-position-x: 10px, 540px;
}
#search:focus{
    outline: 0px;
    box-shadow: 0px 0px 10px rgb(187, 185, 185);
}
#search:hover{
    box-shadow: 0px 0px 10px rgb(187, 185, 185);
}
.arama{
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}
.gg{
    width: 180px;
    height: 30px;
    margin-left: 15px;
    border: none;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}
.gg:hover{
    background-color: rgb(96, 118, 218);
    box-shadow: 0px 0px 10px rgb(96, 118, 218);

}
nav{
    text-align: center;
    margin-top: 20px;
    font-family:'Times New Roman', Times, serif;
}
footer{
    height: 25px;
    background-color: rgb(238, 237, 237);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding:15px;
}
.ayar{
    display: flex;
    justify-content: right;
    margin-right: 20px;
}
#last{
    font-weight: 500;
}